@import "variables";

.section-eighth {
  margin-top: 70px;
  margin-bottom: 73px;
}

.section-caption {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: $gray-555;
  display: block;
  margin-top: 13px;
  margin-bottom: 50px;
}